@use 'sass:color';

@import "normalize.css";

$tube-width: 100%;

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  overflow: hidden;

  .fullscreen {

  }

  .consent-overlay {
    background-color: rgb(0 0 0 / 70%) !important;
  }

}

#tv-frame {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  margin-top: .5%;
  max-width: 100vw;

  #tv-border {
    content: svg-load("assets/svg/frame.svg");
    z-index: 10;
    height: 100%;
    /*width: 100%;*/
    pointer-events: none;
    object-fit: contain;
    max-height: 100vh;
  }
}

#tv-footer {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-flow: row nowrap;
  height: 6%;
  width: 85%;
  z-index: 15;
  flex-direction: row;
  left: 7.5%;
  right: 7.5%;

  &>div.tv-footer-spacer:first-child {
    visibility: hidden;
    margin-right: auto;
    width: 45%;
  }

  #tv-brand {
    $bezel-color: #313131;

    text-align: center;
    width: 10%;

    a {
      content: svg-load("assets/svg/cm.svg", fill=#696969);
      /*
      filter: drop-shadow(.05rem .05rem .05rem color.adjust(#696969, $lightness: -20%))
              drop-shadow(.05rem .05rem .05rem color.adjust(#696969, $alpha: .6))
              drop-shadow(.05rem .05rem .1rem rgb(0 0 0 / 80%))
              drop-shadow(.05rem .05rem .1rem rgb(0 0 0 / 80%));
      */

      /*#313131*/
      filter: drop-shadow(0 0 .05rem color.adjust(#696969, $lightness: -20%))
              drop-shadow(0 0 .05rem color.adjust(#696969, $alpha: .6))
              drop-shadow(0 0 .1rem rgb(0 0 0 / 100%))
              drop-shadow(0 0 .1rem rgb(0 0 0 / 50%))
              drop-shadow(0 0 .14rem color.adjust($bezel-color, $alpha: .9));
      font-weight: unset;
      color: unset;
      text-decoration: unset;
      cursor: unset;
      height: 100%;
    }
  }

  #tv-controls {
    $button-color: color.adjust(#313131, $lightness: -5%);

    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    width: 45%;
    margin-top: .3%;
    margin-bottom: .3%;

    .button {
      height: 70%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      font-size: 30%;
      font-family: inherit;
      background-color: $button-color;
      cursor: pointer;
      margin: 0 .8em;
      transition: all ease 0.2s;
      border: .1rem solid color.adjust($button-color, $lightness: -1%);
      filter: drop-shadow(0 0.3em 0.1em #000)
              drop-shadow(0 0.3em 0.1em #000)
              drop-shadow(.05rem .05rem .1rem rgb(0 0 0 / 80%));

      &:active {
        transform: translateY(.2rem);
        transition: all ease 0.2s;
        border: .1rem solid color.adjust($button-color, $lightness: 5%);
        background-color: color.adjust($button-color, $lightness: 3%);
        filter: drop-shadow(0 0.05em 0.1em #000)
                drop-shadow(.05rem .05rem .1rem rgb(0 0 0 / 80%));
                /* drop-shadow(0px 0px 0.2em #313131) */
      }

      &:focus,
      &:focus-visible {
        outline: unset;
      }

      .icon {
        height: 90%;
        width: 90%;
        object-fit: contain;
        vertical-align: middle;
        display: inline-block;
        box-sizing: content-box;
      }

      &.hide {
        display: none;
      }


      &.toggle-teletext {
        .icon {
          content: svg-load("assets/svg/IEC_60417_-_Ref-No_5463.svg", stroke=#696969);
        }
      }

      &.zap-channel-up {
        .icon {
          content: svg-load("assets/svg/triagle.svg", fill=#696969);
          transform: rotate(90deg);
        }
      }

      &.zap-channel-down {
        .icon {
          content: svg-load("assets/svg/triagle.svg", fill=#696969);
          transform: rotate(-90deg);
        }
      }

      &.toggle-fullscreen {
        .icon {
          content: svg-load("assets/svg/fullscreen.svg", fill=#696969);
        }
      }

      &.toggle-power {
        height: 100%;

        .icon {
          content: svg-load("assets/svg/IEC5009_Standby_Symbol.svg", stroke=#696969);
          height: 70%;
          width: 70%;
        }
      }

      &.toggle-audio {
        .icon {
          content: svg-load("assets/svg/circle.svg", stroke=#696969);
        }

        &.disabled .icon {
          content: svg-load("assets/svg/circle.svg", fill=#FF0000);
          filter: drop-shadow(0 0 3px rgb(255 0 0 / 40%));
        }

        &.enabled .icon {
          content: svg-load("assets/svg/circle.svg", fill=#00FF00);
          filter: drop-shadow(0 0 3px rgb(0 255 0 / 40%));
        }
      }
    }
  }
}


#info-container {
  pointer-events: none;
  aspect-ratio: inherit;
  height: 90%;
  width: 90%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;

  &.hide {
    display: none;
  }

  #info {
    position: absolute;
    right: 5%;
    bottom: 5%;
    transition: width;
    z-index: inherit;
    background-color: rgb(88 88 88 / 80%);
    display: flex;
    flex-direction: row-reverse;
    height: 1.6rem;
    vertical-align: middle;
    border-radius: 1rem;

    .button {
      height: 100%;
      aspect-ratio: 1 / 1;
      padding-block: 0;
      padding-inline: 0;
      border-width: 0;
      pointer-events: all;
      z-index: 20;
      border-radius: 1rem;

      .info-icon {
        content: svg-load("assets/svg/info.svg");
        height: 100%;
        width: 100%;
      }
    }

    .info-text {
      max-width: 10em;
      display: flex;
      padding-left: unset;
      padding-right: unset;
      white-space: nowrap;
      transition: all 0.5s;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      a.tv-brand-link {
        text-decoration: none;
        color: black;

        &:hover,
        &:focus,
        &:focus-visible {
        }
      }
    }

    &.show > .info-text {
      width: fit-content;
      max-width: 10em;
      pointer-events: auto;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }

    &.hide > .info-text {
      width: 0;
      max-width: 0;
    }
  }
}

#tube {
  aspect-ratio: 4 / 3;
  margin: auto;
  width: 99%;
  left: .5%;
  right: .5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -2;
  top: 5%;
  position: absolute;
}

/* @media (not: pointer) and (orientation: landscape) {  } */

@media (orientation: portrait) {
  #tube {
    top: calc(25% + 4.5% / 2);
  }

  #tv-footer {
    bottom: calc(25% + 5% / 2);
    height: 3%;
    #tv-controls {

    }
  }
}
