#teletext {
  aspect-ratio: inherit;
  position:  absolute;
  height: 90%;
  width: 90%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Press Start 2P', monospace;
  /*pointer-events: none;*/
  font-size: calc( 100vh / 34);

  &.show {
    /*display: 1;*/
  }

  &.hide {
    display: none;
  }

  #teletext-header {
    display: flex;
    flex-direction: row;
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    pointer-events: inherit;
    justify-content: space-between;
    background-color: black;
  }

  #teletext-page-nr {

  }

  #teletext-time {

  }

  #teletext-body {
    pointer-events: inherit;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    line-height: 1.2;
    flex-grow: 20;
    display: flex;
    flex-direction: column;

    .teletext-subtitle-spacer {
      flex-grow: 20;
    }

    .teletext-subtitle {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: calc( 100vh / 34);
      background-color: black;
      width: 100%;
      text-align: center;
      height: min-content;
    }

    p {
      margin-block-start: unset;
      margin-block-end: unset;
    }

    .listleft, .listright {
      float:left;
      margin:5px 0px;
    }

    .listleft {
      width:90%;
      color:#00ffff;
    }

    .listright {
      width:10%;
      text-align:right;
    }

    h1 {
      text-align:center;
      background-color:#0000ff;
      color:#ffff00;
      padding: 0.4rem;
      margin-boteletextom: 0.4rem;
      font-size: 2em;
      margin-block-start: unset;
      margin-block-end: unset;
    }

    ul {
      li {

        &::marker {
          content: '* '
        }
      }
    }

    h3 {
      color:#ffff00;
    }

    hr {
      height:6px;
      width:100%;
      color:#0000ff;
      background-color:#0000ff;
      border:1px solid #0000ff;
      margin:20px 0px;
    }

    #red, #green, #yellow, #blue {
      width:25%;
      display:inline;
      border:0px;
      float:left;
      text-align:center;
    }

    #red {
      color:#ff0000;
    }

    #green {
      color:#00ff00;
    }

    #yellow {
      color:#ffff00;
    }

    #blue {
      color:#00ffff;
    }

  }

  #teletext-footer {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    background-color: black;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
