@use "sass:map";

/* Optimized height is 34 */
$height-divisor: 43;
$aspect-ratio: 1.2;
$text-size: calc( 100vh / $height-divisor);
$text-width: calc($text-size / $aspect-ratio);

/* Teletext colors */
$colors: ("magenta": #f0f, "cyan": #0ff, "red": #f00, "green": #0f0, "yellow": #ff0, "blue": #0ff, "white": #fff, "black": #000);

/* Font with graphic symbols */
@use '../assets/scss/unscii-16.scss';

#teletext {
  aspect-ratio: inherit;
  position:  absolute;
  height: 85%;
  width: 85%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Press Start 2P', monospace;
  pointer-events: none;
  font-size: $text-size;
  color: map.get($colors, 'white');

  &.show {
    /* display: 1; */
  }

  &.hide {
    display: none;
  }

  #teletext-header {
    display: flex;
    flex-direction: row;
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    pointer-events: inherit;
    justify-content: space-between;
    background-color: black;
    color: map.get($colors, 'white');
  }

  #teletext-page-nr {

  }

  #teletext-time {

  }

  #teletext-body {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    line-height: 1.2;
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 100%;

    .teletext-subtitle-spacer {
      flex-grow: 20;
    }

    .md-content {
      position: relative;
      height: 100%;
      hyphens: auto;
      text-align: justify;
    }

    .teletext-subtitle {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: calc( 100vh / $height-divisor);
      background-color: black;
      width: 100%;
      text-align: center;
      height: min-content;
      overflow: hidden;
    }

    p {
      margin-block-start: unset;
      margin-block-end: calc( 100vh / $height-divisor);
    }

    h1 {
      text-align:center;
      background-color: #00f;
      color: #ff0;
      font-size: calc($text-size * 2);
      margin-block-start: unset;
      margin-block-end: unset;
    }

    h2 {
      font-size: calc($text-size * 2);
      color: #fff;
      text-align:center;
      margin-block-start: unset;
      margin-block-end: unset;
    }

    h3 {
      font-size: $text-size;
      margin-block-start: unset;
      margin-block-end: unset;
    }

    ul {
      margin-block: calc( 100vh / $height-divisor) calc( 100vh / $height-divisor);
      margin-inline-start: unset;
      margin-inline-end: unset;
      padding-inline-start: calc($text-width * 3);

      li {
        &::marker {
          content: '* ';
        }
      }
    }

    ul:has(li a.page) {
      padding-inline-start: unset;
      list-style-type: none;
      padding: 0;

      li {
        color: #0ff;

        &::marker,
        &::-webkit-details-marker {
          content: '';
          display: none;
        }

        .page {
          color: #00f;
          float: right;
        }
      }
    }

    ul:has(li a.nav) {
      list-style-type: none;
      margin-block-end: unset;
      position: absolute;
      bottom: 0;
      color: #f00;
      width: 100%;
      background-color:#00f;
      padding: 0;

      li {
        .nav {
          color: #f00;
          float: right;
        }
      }
    }

    code {
      font-family: unset;
      font-size: unset;
    }

    hr {
      height: 6px;
      width: 100%;
      color: #00f;
      background-color: #00f;
      border: 1px solid #00f;
      margin-top: calc( (100vh / $height-divisor - 8px) / 2);
      margin-bottom: calc( (100vh / $height-divisor - 8px) / 2);

      &.empty-line {
        background-color: unset;
        color: unset;
        border: none;
        margin: unset;
        height: calc( 100vh / $height-divisor);
      }
    }

    a {
      color: #00f;
      pointer-events: auto;
    }

    pre.teletext-graphic {
      font-family: 'UNSCII 2.0', monospace;
      line-height: 1;
      text-shadow: 0 0 1px map.get($colors, white), 0 0 1px map.get($colors, white), 0 0 1px map.get($colors, white), 0 0 1px map.get($colors, white);
      width: max-content;
      position: relative;
      margin: unset;
      color: map.get($colors, 'white');

      &.right {
        float: right;
      }

      &.left {
        float: left;
      }

      &.bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &.bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
      }

      &.center {
        margin: auto;
      }
    }
  }

  #teletext-footer {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    background-color: black;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: map.get($colors, 'white');
  }

  @each $name, $cc in $colors {
    .#{$name} {
      color: $cc !important;
      text-shadow: 0 0 1px $cc, 0 0 1px $cc, 0 0 1px $cc, 0 0 1px $cc !important;
    }
  }
}

@media (orientation: portrait) {
  #teletext {
    font-size: calc( 100vw / $height-divisor);

    #teletext-body {
      h1, h2 {
        font-size: calc((100vw / $height-divisor) * 2);
      }

      /* pre.teletext-graphic { */
    }
  }
}
