$color: rgb(0 0 0 / 75%);
$animation-length: 1s;

#mute-icon-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgb(0 0 0 / 60%);

  display: none;

  @keyframes fadeout {
    to {
      display: none;
      opacity: 0;
    }
  }

  label {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .speaker-checkbox {
      height: 0;
      width: 0;
      display: none;
      overflow: hidden;
      cursor: default;
      padding-block: unset;
      padding-inline: unset;
    }

    svg {
      max-height: 90vh;

      path {
        fill: $color;
        stroke: $color;
        color: $color;
      }

      #play {
        transform-origin: center;
        z-index: 110;
      }

      #cross {
        /*transform-origin: 65% center;*/
      }

      #waves {
        opacity: 0;
        transform: scale(0.3);
        transform-origin: center;
      }
    }
  }

  &:has(label #speaker-checkbox:checked) {
    animation: unset;
    display: block;
  }

  &:has(label #speaker-checkbox:not(:checked)) {
    animation: fadeout $animation-length forwards;
    display: block;

    svg {
      @keyframes svg-cross {
        35% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes svg-waves {
        50% {
          opacity: 1;
        }
        100% {
          transform: scale(1.2);
        }
      }
      @keyframes svg-play {
        30% {
          fill: red;
          transform: rotateY(180deg);
        }
        100% {
          fill: red;
          transform: rotateY(180deg) translate(-50%) scale(1.2);
        }
      }

      #cross {
        animation: svg-cross $animation-length forwards;
      }

      #waves {
        display: block;
        opacity: 0;
        animation: svg-waves $animation-length forwards;
      }

      #play {
        animation: svg-play $animation-length forwards;
      }
    }
  }
}
